# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=14c7cfd7-4298-4f4a-bfea-27af8b14439f

    # Set to true to disable all reporting
    B:opt-out=false
}


